<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock meta %}

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/page.css" rel="stylesheet">

    <link rel="preload" href="/static/fonts/montserrat-v25-latin-regular.ttf" as="font" crossorigin>

    <title>Project list tool</title>
</head>

<body class="main-bg">
    {% include "tera/navigation.html.tera" %}

    <div class="container-sm" id="main-content">
    {% block content %}
    {% endblock content %}
    </div>

    <script src="/static/scripts/jquery-3.6.3.min.js"></script>
    <script src="/static/scripts/bootstrap.bundle.js"></script>
    <script src="/static/scripts/page.js"></script>
</body>

</html>